*.asv

utils/io/htk2ark.c
examples/regression/nnet/
examples/classification_framewise/nnet/
examples/beamforming/mask_prediction/nnet/*/
examples/beamforming/mask_prediction/debug/*
examples/beamforming/Kaldi/exp-fbank/tri4a_dnn_tr05_multi_ch5/

*.wav
*.fbank
